<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
        <div class="logo">
            {#                <a href="javascript:void(0)" class="simple-text logo-mini">#}
            {#                    <div class="photo">#}
            {#                        <img src="{{ config.ASSETS_ROOT }}/img/logo.jpg" alt="Profile Photo">#}
            {#                    </div>#}
            {#                </a>#}
            <a href="javascript:void(0)" class="simple-text logo-normal">
                <div class="photo">
                    <img src="{{ config.ASSETS_ROOT }}/img/logo.jpg" alt="Profile Photo">
                </div>
            </a>
        </div>
        <ul class="nav">
            <li class="{% if 'index' in segment %} active {% endif %}">
                <a href="/">
                    <i class="tim-icons icon-single-02"></i>
                    <p><strong>基本信息</strong></p>
                </a>
            </li>
            <li class="{% if 'database' in segment %} active {% endif %}">
                <a href="{{ url_for('home_blueprint.database') }}">
                    <i class="tim-icons icon-bullet-list-67"></i>
                    <p><strong>数据报文信息</strong></p>
                </a>
            </li>
            <li class="{% if 'protoanalyzer' in segment %} active {% endif %}">
                <a href="{{ url_for('home_blueprint.protoanalyzer') }}">
                    <i class="tim-icons icon-chart-bar-32"></i>
                    <p><strong>协议统计</strong></p>
                </a>
            </li>
            <li class="{% if 'flowanalyzer' in segment %} active {% endif %}">
                <a href="{{ url_for('home_blueprint.flowanalyzer') }}">
                    <i class="tim-icons icon-delivery-fast"></i>
                    <p><strong>流量统计</strong></p>
                </a>
            </li>
            <li class="{% if 'mqtt_data_extract' in segment %} active {% endif %}">
                <a href="{{ url_for('home_blueprint.mqtt_data_extract') }}">
                    <i class="tim-icons icon-wifi"></i>
                    <p><strong>mqtt数据</strong></p>
                </a>
            </li>
            <li class="{% if 'dicom_data_extract' in segment %} active {% endif %}">
                <a href="{{ url_for('home_blueprint.dicom_data_extract') }}">
                    <i class="tim-icons icon-sound-wave"></i>
                    <p><strong>dicom数据</strong></p>
                </a>
            </li>
            <li class="{% if 'ipmap' in segment %} active {% endif %}">
                <a href="{{ url_for('home_blueprint.ipmap') }}">
                    <i class="tim-icons icon-map-big"></i>
                    <p><strong>访问地图</strong></p>
                </a>
            </li>
{#            <li class="{% if 'icons' in segment %} active {% endif %}">#}
{#                <a href="/icons.html">#}
{#                    <i class="tim-icons icon-atom"></i>#}
{#                    <p>Icons</p>#}
{#                </a>#}
{#            </li>#}
{#            <li class="{% if 'notifications' in segment %} active {% endif %}">#}
{#                <a href="/notifications.html">#}
{#                    <i class="tim-icons icon-bell-55"></i>#}
{#                    <p>Notifications</p>#}
{#                </a>#}
{#            </li>#}
{#            <li class="{% if 'typography' in segment %} active {% endif %}">#}
{#                <a href="/typography.html">#}
{#                    <i class="tim-icons icon-align-center"></i>#}
{#                    <p>Typography</p>#}
{#                </a>#}
{#            </li>#}
            <li>
                <a href="{{ url_for('authentication_blueprint.logout') }}">
                    <i class="tim-icons icon-button-power"></i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
</div>
