{% extends "layouts/base.html" %}

{% block title %} Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div id="mqttform"></div>
</div>
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

<!-- Specific Page JS goes HERE  -->
{% autoescape false %}
<script src="../../static/echarts-2.27/build/dist/echarts.min.js" type="text/javascript"></script>
<script src="../../static/echarts-2.27/build/dist/westeros.js" type="text/javascript"></script>
<script type="text/javascript">
    echarts.use([TreemapChart, CanvasRenderer]);
    var chartDom = document.getElementById('mqttform');
    var myChart = echarts.init(chartDom);
    var app = {};

    var option;

    option = {
        backgroundColor: '#fff',
        //整个图片的背景色设置为白色
        title: {
            text: '次数分布',
            left: 'center',
            top: 0,
        },
        series: [
            {

                type: 'treemap',
                position: 'inside',
                data: [
                    {
                        name: '固定报头',
                        value: 16,
                        children: [
                            {
                                name: '报文类型',
                                value: 4
                            },
                            {
                                name: '标志位',
                                value: 4,
                                children: [
                                    {name: 'RETAIN', value: 1},
                                    {name: 'Qos', value: 2},
                                    {name: 'DUP', value: 1},
                                ]
                            },

                            {
                                name: '剩余长度',
                                value: 8
                            }

                        ]
                    },
                    {
                        name: '连接服务器报文可变报头',
                        value: 80,
                        children: [
                            {
                                name: '协议名',
                                value: 16,
                            },
                            {
                                name: '协议级别',
                                value: 8,
                            },
                            {
                                name: '链接标志',
                                value: 8,
                            },
                            {
                                name: '保持连接',
                                value: 16,
                            },
                            {
                                name: '其他',
                                value: 32,
                            },

                        ]
                    },
                    {
                        name: '发布消息报文可变报头',
                        value: 80,
                        children: [
                            {
                                name: '报文标识符Qos>0',
                                value: 16,
                            },
                            {
                                name: '主题名Topic',
                                value: 64,
                            },

                        ]
                    },
                    {
                        name: '连接服务报文有效载荷',
                        value: 200,
                        children: [
                            {
                                name: '用户端标识符号',
                                value: 8,

                            },
                            {
                                name: '遗属主题',
                                value: 8,
                            },
                            {
                                name: '遗属消息',
                                value: 8,
                            },
                            {
                                name: '用户名',
                                value: 8,
                            },
                            {
                                name: '密码',
                                value: 8,
                            },
                        ]
                    },
                    {
                        name: '发布消息报文有效载荷',
                        value: 200,
                        children: [
                            {
                                name: '应用消息',
                                value: 8,
                            },
                        ]
                    },

                ]
            }
        ]
    };

    option && myChart.setOption(option);
</script>
{% endautoescape %}
{% endblock content %}